<div class="newsletter">
  <div class="line-title"></div>
  <div class="content-page">

    <div class="clearfix">
      <div class="col-xs-12">
        <h2>SUSCRÍBETE A NUESTRO NEWSLETTER
          <span>I</span>
        </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut elementum dolor. </p>
      </div>
    </div>

    <form (ngSubmit)="onSubmit(newsletterForm)" #newsletterForm="ngForm">
      <div class="clearfix">
        <div class="form-group col-sm-6">
          <input type="text" id="Name" [(ngModel)]="Register.Name" name="Name" #Name="ngModel" placeholder="Nombre*" required>

          <div [hidden]="Name.valid || Name.pristine" class="alert alert-danger">
            Por favor, ingresa un nombre.
          </div>
        </div>
        <div class="form-group col-sm-6">
          <input type="email" id="Email" [(ngModel)]="Register.Email" name="Email" #Email="ngModel" placeholder="Correo Electónico*"
            pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>

          <div [hidden]="Email.valid || Email.pristine" class="alert alert-danger">
            Por favor, ingresa un correo electrónico valido.
          </div>

        </div>
      </div>

      <div class="clearfix">
        <div class="form-group col-sm-6">
          <!--<input type="text" placeholder="Tipo de documento">-->
          <select id="DocumentType" [(ngModel)]="Register.DocumentType" name="DocumentType" #DocumentType="ngModel" required>
            <option value="">Tipo de documento*</option>
            <option value="Cédula">Cédula</option>
            <option value="Pasaporte">Pasaporte</option>
            <option value="Nit">Nit</option>
            <option value="Otro">Otro</option>
          </select>
          <div [hidden]="DocumentType.valid || DocumentType.pristine" class="alert alert-danger">
            Por favor, selecciona un tipo de documento.
          </div>
        </div>

        <div class="form-group col-sm-6">
          <input type="text" id="DocumentNumber" [(ngModel)]="Register.DocumentNumber" name="DocumentNumber" #DocumentNumber="ngModel"
            placeholder="Número de documento*" required>
          <div [hidden]="DocumentNumber.valid || DocumentNumber.pristine" class="alert alert-danger">
            Por favor, ingresa un número de documento.
          </div>
        </div>
      </div>

      <div class="clearfix">
        <div class="form-group col-sm-6">
          <input type="text" id="Phone" [(ngModel)]="Register.Phone" name="Phone" placeholder="Teléfono*" #Phone="ngModel" (keypress)="onlyNumbers($event)"
            required>
          <div [hidden]="Phone.valid || Phone.pristine" class="alert alert-danger">
            Por favor, ingresa un número de teléfono.
          </div>
        </div>

        <div class="form-group col-sm-6 ctn-terms">
          <div class="col-md-7 col-lg-8 input-terms">
            <div class="checkbox">
              <label>
                <input type="checkbox" id="AcceptTerms" [(ngModel)]="Register.AcceptTerms" name="AcceptTerms" #AcceptTerms="ngModel" required>
                <a href="">Acepto términos y condiciones</a>
              </label>
            </div>
            <div [hidden]="AcceptTerms.valid || AcceptTerms.pristine" class="alert alert-danger">
              Por favor, acepta los términos y condiciones.
            </div>
          </div>
          <div class="col-md-5 col-lg-4 btn-newsletter">
            <button type="submit" class="btn btn-primary" [disabled]="!newsletterForm.form.valid || sendForm">Suscribrime</button>
          </div>
        </div>

      </div>

      <div class="clearfix">
        <div class="col-xs-12">
          <div *ngIf="sendForm" class="form-loader">
            <img src="assets/img/loader.gif" alt="Marca">
          </div>

          <div *ngIf="registerSuccess" class="alert alert-success" role="alert">
            <strong>¡Gracias!</strong> por suscribirte.
          </div>
        </div>
      </div>

    </form>
  </div>
</div>