$_maxWidthPage:1170px;

//Colors
$_white:#fff;
$_light-white:rgba(255,255,255,.3);
$_black:#000;
$_primary:#fccb8d;
$_dark-primary:#eab470;
$_brown:#3e301e;
$_h1-color: #e4a025;

//Media Queries
$_break-large: 1200px;
$_break-medium: 990px;
$_break-small: 767px;
$_break-xsmall: 479px;

